@model PlantNest_Project.Models.Contact

@{
    ViewBag.Title = "User Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-area">
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url('@Url.Content("~/assets/img/bg-img/24.jpg")');">
        <h2 class="text-white">Please Contact US</h2>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">User Message</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Email Address" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Phone Number" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, "Message", htmlAttributes: new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control", placeholder = "Enter Your Message", rows = 5 })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                    }
                    <div class="text-center">
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-link" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
